.counter-sec{
  height: 100vh;
  background-color: rgb(122, 122, 186);
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter{
  background: rgb(131, 164, 103);
  width: 450px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: azure;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}
 .btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
button{
  margin: 6px;
  width: 80px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border: none;
}
button:hover{
  background-color: rgb(140, 153, 149);
}